* {
    margin:0;
    padding:0;
    font-family: "Montserrat";
}

body{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #1E3859;
}

section {
    margin-top: 50px;
}


h1 {
    padding: 6px;
    text-align: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    border: solid 3px #D904A0;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.plane-visualisation {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 35vh;
    width: 80vw;
}
.plane-canvas{
    display: flex;
    background-color: white;
    width: 100%;
    height: 100%;
}
.missiles{
    margin: 10px;
    max-width: 65px;
    border-radius: 5px;
    border: 0;
}
.search-bar {
    text-align: center;
}

/*
Josef har skrevet denne del, der handler om chart-området
 */
.chart-wrapper {
    height: 450px;
    max-height: 450px;
    overflow-y:scroll ;
    margin: 20px 0;
}

.chart-container{
    width: 500px;
    height: 10000px
}

#bar-test {
}

p {
    text-align: center;
}
#text-chart{
    margin-bottom: 100px;
}
#text-chart h2{
    margin-bottom: 20px;

}

.descriptor {
    font-size: larger;
}

#large-number {
    font-size: xx-large;
    font-weight: bold;

}
